<ng-template titleBarTitle>
    <span jhiTranslate="artemisApp.milestoneAssessment.dashboard.title"></span>
</ng-template>

@if (students().length) {
    <div class="milestone-dashboard__scroll">
        <table tumUiTable size="small">
            <thead>
                <tr>
                    <th jhiTranslate="artemisApp.milestoneAssessment.dashboard.student"></th>
                    @for (story of storyColumns(); track story.exerciseId) {
                        <th>{{ story.title }}</th>
                    }
                    <th jhiTranslate="artemisApp.milestoneAssessment.dashboard.progress"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (student of students(); track student.studentLogin) {
                    <tr>
                        <td>
                            <span class="font-semibold">{{ student.studentName || student.studentLogin }}</span>
                            <span class="milestone-dashboard__login">{{ student.studentLogin }}</span>
                        </td>
                        @for (story of student.stories; track story.exerciseId) {
                            <td>
                                @if (!story.submissionId) {
                                    <span class="milestone-dashboard__muted" jhiTranslate="artemisApp.milestoneAssessment.dashboard.notStarted"></span>
                                } @else if (story.assessed) {
                                    <span class="text-state-success">{{ story.latestScore | number: '1.0-1' }}%</span>
                                    <span class="milestone-dashboard__muted">{{ story.assessorLogin }}</span>
                                } @else {
                                    <span class="text-state-warning" jhiTranslate="artemisApp.milestoneAssessment.dashboard.unassessed"></span>
                                }
                            </td>
                        }
                        <td class="whitespace-nowrap">{{ assessedCount(student) }} / {{ student.stories.length }}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" [routerLink]="assessmentLink(student)" jhiTranslate="artemisApp.milestoneAssessment.dashboard.assess"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
} @else if (!isLoading()) {
    <p class="milestone-dashboard__muted" jhiTranslate="artemisApp.milestoneAssessment.dashboard.noStudents"></p>
}
