@let gradingCriteriaValue = this.gradingCriteria();
@let gradingInstructionsValue = this.gradingInstructions();
@if (showAssessmentInstructions() && (gradingInstructionsValue || (gradingCriteriaValue && gradingCriteriaValue.length > 0))) {
    <div [class]="embeddedInEditorChrome() ? '' : 'border p-2'">
        @if (gradingInstructionsValue) {
            <jhi-expandable-section headerKey="artemisApp.assessmentInstructions.assessmentInstructions">
                <p class="markdown-preview" [innerHTML]="gradingInstructionsValue"></p>
            </jhi-expandable-section>
        }
        @if (gradingCriteriaValue && gradingCriteriaValue.length > 0) {
            <jhi-expandable-section headerKey="artemisApp.assessmentInstructions.structuredGradingInstructions">
                <ng-container expandableSectionHeaderActions>
                    @if (selectable()) {
                        <tum-ui-tag
                            severity="secondary"
                            styleClass="applied-count-tag"
                            [value]="'artemisApp.assessmentInstructions.appliedCount' | artemisTranslate: appliedInstructionCount()"
                        />
                    }
                </ng-container>
                <jhi-structured-grading-instructions-assessment-layout [readonly]="readOnly()" [criteria]="gradingCriteriaValue" />
            </jhi-expandable-section>
        }
    </div>
}

@if (!embeddedInEditorChrome()) {
    <h3>{{ exercise().title }}</h3>
}
<jhi-expandable-section headerKey="artemisApp.assessmentInstructions.problemStatement">
    @if (programmingExercise(); as programmingExerciseValue) {
        @let programmingParticipationValue = this.programmingParticipation();
        <jhi-programming-exercise-instructions
            [exercise]="programmingExerciseValue"
            [participation]="programmingParticipationValue ? programmingParticipationValue : programmingExerciseValue.templateParticipation!"
            [personalParticipation]="false"
        />
    } @else {
        <p class="markdown-preview" [innerHTML]="problemStatement()"></p>
    }
</jhi-expandable-section>
<jhi-expandable-section headerKey="artemisApp.assessmentInstructions.sampleSolution">
    @if (programmingExercise(); as programmingExerciseValue) {
        <div class="mb-3">
            <a jhiSecureLink [href]="programmingExerciseValue.solutionParticipation?.repositoryUri">
                <jhi-button jhiTranslate="artemisApp.exerciseAssessmentDashboard.programmingExercise.exampleSolution" />
            </a>
        </div>
    } @else {
        @let sampleSolutionModelValue = this.sampleSolutionModel();
        @let sampleSolutionExplanationValue = this.sampleSolutionExplanation();
        @if (sampleSolutionModelValue) {
            <jhi-modeling-editor [readOnly]="true" [diagramType]="sampleSolutionDiagramType()!" [umlModel]="sampleSolutionModelValue!" />
        }
        @if (sampleSolutionExplanationValue) {
            <p class="markdown-preview" [innerHTML]="sampleSolutionExplanationValue!"></p>
        }
    }
</jhi-expandable-section>
@if (isAssessmentTraining()) {
    <jhi-expandable-section headerKey="artemisApp.assessmentInstructions.trainingEvaluationCriteria.title">
        <p jhiTranslate="artemisApp.assessmentInstructions.trainingEvaluationCriteria.description"></p>
    </jhi-expandable-section>
}
